@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<div class="jumbotron">
    <h1>Four more years of Biden 💜</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
</div>
